$md-font-name: Open Sans;

@import 'react-md/src/scss/react-md';

$dbdao-pink: #ee274c;
$dbdao-purple: #2e3192;

$md-primary-color: $dbdao-purple;
$md-secondary-color: $dbdao-pink;

@include react-md-everything;

.no-padding-top{
  padding-top:0 !important;
}

.no-padding-bottom{
  padding-bottom: 0 !important;
}

html {
  height: 100%;
  font-size: 16px;
  background-color: #F8F8F8;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgba(0,0,0,0.7);
}

#root {
  height: 100%;
}

h1 {
  font-weight: 600;
  color: rgba(0,0,0,0.7);
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
}

h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  color: rgba(0,0,0,0.7);
}

p {
  color: rgba(0,0,0,0.7);
  font-size: 16px;
  line-height: 1.65;
}

li{
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
}

a{
  color: rgba(0, 0, 0, 0.7);
}

span.clickable{
  cursor: pointer;
  text-decoration: underline;
}

.md-btn {
  font-weight: 600;
  padding-top: 7px;
  padding-bottom: 9px;
  border-radius: 5px;

  &[role=checkbox]{
    padding-top:9px;
  }
}

.md-selection-control-label{
  font-size: 16px;
}

.md-text-field{
  font-size: 16px;
}

.md-table-column--header{
  font-size: 16px;
}

pre{
  margin:0;
}

.disabled-button{
  background-color: gray !important;
  &:hover{
    background-color: gray !important;
  }
}

/* md-cell margins add margin to input fields which is weird. If I want margin I'll ask it myself. */
.md-cell{
  margin: 0 !important;
}

/* Dialog screens (purchase, staking explainer,...) */
// .md-dialog-content--padded{
//   padding:34px;
// }

.md-dialog--centered{
  max-height: 75%;
}
