$md-font-name: Open Sans;

@import 'react-md/src/scss/react-md';

$dbdao-pink: #ee274c;
$dbdao-purple: #2e3192;

$md-primary-color: $dbdao-pink;
$md-secondary-color: $dbdao-purple;

@include react-md-everything;

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

h1 {
  font-weight: 500;
  color: rgba(0,0,0,0.7);
}

p {
  color: rgba(0,0,0,0.65);
}

span.clickable{
  cursor: pointer;
  text-decoration: underline;
}
